Fencing Time v4.4/Client/Transform/FredImport40.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Fencing Time
By Daniel Berke
(C) Copyright by Daniel Berke 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.askfred.net" xmlns="http://www.askfred.net">
  <xs:annotation>
    <xs:documentation>4.4</xs:documentation>
  </xs:annotation>
  
  <xs:element name="FencingData">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="1" maxOccurs="1" ref="FencerDatabase" />
        <xs:element minOccurs="1" maxOccurs="1" ref="ClubDatabase" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TeamDatabase" />
        <xs:element minOccurs="1" maxOccurs="1" ref="Tournament" />
      </xs:all>
      <xs:attribute name="Version" use="required" type="xs:decimal" fixed="4.0" />
      <xs:attribute name="Context" use="required" type="xs:string"  fixed="PreReg" />
    </xs:complexType>
  </xs:element>

  <xs:element name="FencerDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Fencer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Fencer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Membership" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Org" use="required" type="xs:string" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rating" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="FencerRatingType">
                <xs:attribute name="Org"    use="required" type="xs:string" />
                <xs:attribute name="Weapon" use="required" type="WeaponType" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="FencerID"   use="required" type="xs:unsignedLong" />
      <xs:attribute name="FirstName"  use="required" type="xs:string" />
      <xs:attribute name="LastName"   use="required" type="xs:string" />
      <xs:attribute name="MiddleName" use="optional" type="xs:string" />
      <xs:attribute name="NickName"   use="optional" type="xs:string" />
      <xs:attribute name="Suffix"     use="optional" type="xs:string" />
      <xs:attribute name="ClubID1"    use="required" type="xs:unsignedLong" />
      <xs:attribute name="ClubID2"    use="optional" type="xs:unsignedLong" />
      <xs:attribute name="DivisionID" use="required" type="xs:unsignedLong" />
      <xs:attribute name="BirthYear"  use="required" type="xs:nonNegativeInteger" />
      <xs:attribute name="Gender"     use="required" type="FencerGenderType" />
    </xs:complexType>
  </xs:element>

  <xs:element name="ClubDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Club" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Club">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Membership" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="Org" use="required" type="xs:string" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ClubID"       use="required" type="xs:unsignedLong" />
      <xs:attribute name="DivisionID"   use="required" type="xs:unsignedLong" />
      <xs:attribute name="Name"         use="required" type="xs:string" />
      <xs:attribute name="Abbreviation" use="required" type="xs:string" />
      <xs:attribute name="City"         use="optional" type="xs:string" />
      <xs:attribute name="State"        use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="TeamDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Team">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="4">
        <xs:element name="Fencer">
          <xs:complexType>
            <xs:attribute name="FencerID" use="required" type="xs:unsignedLong" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="TeamID"     use="required" type="xs:unsignedLong" />
      <xs:attribute name="Name"       use="required" type="xs:string" />
      <xs:attribute name="ClubID"     use="required" type="xs:unsignedLong" />
      <xs:attribute name="DivisionID" use="required" type="xs:unsignedLong" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Tournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Event" />
      </xs:sequence>
      <xs:attribute name="TournamentID" use="required" type="xs:unsignedLong" />
      <xs:attribute name="Name"         use="required" type="xs:string" />
      <xs:attribute name="Location"     use="optional" type="xs:string" />
      <xs:attribute name="StartDate"    use="required" type="DateType" />
      <xs:attribute name="EndDate"      use="required" type="DateType" />
      <xs:attribute name="Fee"          use="required" type="DecimalOrEmpty" />
      <xs:attribute name="FeeCurrency"  use="optional" type="xs:string" />
      <xs:attribute name="Org"  			  use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PreReg" />
      </xs:sequence>
      <xs:attribute name="EventID"       use="required" type="xs:unsignedLong" />
      <xs:attribute name="EventDateTime" use="required" type="DateTimeType" />
      <xs:attribute name="Weapon"        use="required" type="WeaponType" />
      <xs:attribute name="Gender"        use="required" type="EventGenderType" />
      <xs:attribute name="EnforceGender" use="required" type="BoolType" />
      <xs:attribute name="AgeLimitMin"   use="required" type="AgeLimitType" />
      <xs:attribute name="AgeLimitMax"   use="required" type="AgeLimitType" />
      <xs:attribute name="EnforceAge"    use="required" type="BoolType" />
      <xs:attribute name="RatingLimit"   use="required" type="RatingLimitType" />
      <xs:attribute name="EnforceRating" use="required" type="BoolType" />
      <xs:attribute name="Description"   use="optional" type="xs:string" />
      <xs:attribute name="IsTeam"        use="required" type="BoolType" />
      <xs:attribute name="Fee"           use="required" type="DecimalOrEmpty" />
      <xs:attribute name="FeeCurrency"   use="optional" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="PreReg">
    <xs:complexType>
      <xs:attribute name="CompetitorID"      type="xs:unsignedLong" />
      <xs:attribute name="EventFeePaid"      type="DecimalOrEmpty" />
      <xs:attribute name="TournamentFeePaid" type="DecimalOrEmpty" />
    </xs:complexType>
  </xs:element>


  <!-- ======= Type definitions ======== -->

  <xs:simpleType name="DecimalOrEmpty">
    <xs:union memberTypes="xs:decimal empty-string" />
  </xs:simpleType>

  <xs:simpleType name="empty-string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
    </xs:restriction>
  </xs:simpleType>
 
  <!-- Values for booleans (allows mixed case, xs:boolean doesn't) -->
  <xs:simpleType name="BoolType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for fencer ratings -->
  <xs:simpleType name="FencerRatingType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="U" />
          <xs:enumeration value="" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[A-E][1-2][0-9][0-9][0-9]" />
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- Values for fencer genders -->
  <xs:simpleType name="FencerGenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="M" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for weapons -->
  <xs:simpleType name="WeaponType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Foil" />
      <xs:enumeration value="Epee" />
      <xs:enumeration value="Saber" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for dates (allows 0000-00-00) -->
  <xs:simpleType name="DateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-2][0-9][0-9][0-9][\-][0-1][0-9][\-][0-3][0-9]" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for dates and times (allows 0000-00-00 00:00:00) -->
  <xs:simpleType name="DateTimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-2][0-9][0-9][0-9][\-][0-1][0-9][\-][0-3][0-9][\s][0-2][0-9][:][0-5][0-9][:][0-5][0-9]" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for event gender mix -->
  <xs:simpleType name="EventGenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Men" />
      <xs:enumeration value="Women" />
      <xs:enumeration value="Mixed" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for event age limit mix -->
  <xs:simpleType name="AgeLimitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VetCombined" />
      <xs:enumeration value="Vet40" />
      <xs:enumeration value="Vet50" />
      <xs:enumeration value="Vet60" />
      <xs:enumeration value="Vet70" />
      <xs:enumeration value="Junior" />
      <xs:enumeration value="Cadet" />
      <xs:enumeration value="U19" />
      <xs:enumeration value="U16" />
      <xs:enumeration value="Y14" />
      <xs:enumeration value="Y12" />
      <xs:enumeration value="Y10" />
      <xs:enumeration value="Y8" />
      <xs:enumeration value="Senior" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Values for event rating limit mix -->
  <xs:simpleType name="RatingLimitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unrated" />
      <xs:enumeration value="EUnder" />
      <xs:enumeration value="Div3" />
      <xs:enumeration value="Div2" />
      <xs:enumeration value="Div1" />
      <xs:enumeration value="Div1A" />
      <xs:enumeration value="Open" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
